<div class="page-header">
<<<<<<< HEAD
  <h1>All of the statuses</h1>
</div>
=======
  <h1>All of the Statuses</h1>
</div>
<%= link_to "Post a new Status", new_status_path, class:"btn btn-success" %>
>>>>>>> 80b5383028e9efd8ba7885652f5815a74b1e0451
<% @statuses.each do |status| %>
    <div class="status">
      <strong><%= status.name %></strong>
      <p><%= status.content %></p>
      <div class="meta">
<<<<<<< HEAD
        <%= link_to time_ago_in_words(status.created_at) + " ago", status %>|
        <span class="admin">
          <%= link_to "Edit", edit_status_path(status) %> |
          <%= link_to "Delete", status, method: :delete, data:{ confirm: "Are you sure?" } %>
        </span>
      </div>
    </div>
<% end %>
=======
        <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
        <span class="admin">
        <%= link_to "Edit", edit_status_path(status) %> |
          <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure?" } %>
      </span>
      </div>
    </div>
<% end %>
>>>>>>> 80b5383028e9efd8ba7885652f5815a74b1e0451
